*/db
*/output_files
*.cdf
*.bak
*/incremental_db
./incremental_db
*/simulation
*.qws
*.qsf
*.qpf
Som
Tenth_les
*.rpt
*.done
*.smsg
*.summary
*.jdi
*.jditmp
*.pin
*.pof
*.sld
*.sof